

:root {
    --bg-dark: #0d1117ed;
    --bg-white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

a {
    text-decoration: none;
}

ul li{
    list-style: none;
}

