.btn-group {
  overflow: hidden;
  border: 1px solid #333;
  border-radius: 12px;
}

.btn {
  padding: 10px;
  border-radius: 0;
  opacity: 0.6;
  &.isActive {
    background-color: #333;
    opacity: 1;
  }
}
