
.weaather-current {
    position: relative;
}

.box {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(34,38,42,.6);
    margin-bottom: 10px;
}

.heading, .title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .05em;
    margin-bottom: 0;
}

.heading {
    font-size: 20px;
}

.temp {
    font-size: 50px ;
    margin: 0;
}

.line {
    opacity: 1;
}
